<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>{% block title %} DMS {% endblock %} </title>
{% block css %}

{% endblock %}
</head>
<body>

<div id ="top">{% block top %}{% endblock %}</div>
<div id ="heading">{% block heading %}{% endblock %}</div>

<div id="content">{% block content  %} {% endblock %}</div>
<div id="left">{% block left  %} {% endblock %}</div>

</body>
</html> 