@CHARSET "ISO-8859-1";

#heading{
	text-align: center;
	background-color:#eee;
	
	font-size:3em;  
}
#left{
	text-align: left;
	
	top: 240px;
	position: fixed;
	
	left: 50px;
	
	padding:10px;
	margin:0px;
	
}

#content{

	
	position: relative;
	left: 450px;
	width:850px;
	padding:10px;
	margin:0px;
	height:520px;
	overflow:scroll;

}

